$color_1: #fff;
$color_2: #212529;
$color_3: #000;
$color_4: #333;
$font-family_1: "fcicons";
$font-family_2: inherit;
$background-color_1: #3788d8;
$background-color_2: #1e2b37;
$background-color_3: #fff;
$background-color_4: transparent;
$background-color_5: #2c3e50;
$background-color_6: #1a252f;
$background-color_7: #3498db;
$border-color_1: transparent;
$border-color_2: inherit;
$border-color_3: #ddd;
$border-color_4: #2c3e50;
$border-color_5: #151e27;
$border-color_6: #ccc;

.fc {
	direction: ltr;
	text-align: left;
	table {
		width: 100%;
		box-sizing: border-box;
		table-layout: fixed;
		border-collapse: collapse;
		border-spacing: 0;
		font-size: 1em;
	}
	th {
		text-align: center;
		border-style: solid;
		border-width: 1px;
		padding: 0;
		vertical-align: top;
		font-size: 0.9em;
	}
	td {
		border-style: solid;
		border-width: 1px;
		padding: 0;
		vertical-align: top;
	}
	td.fc-today {
		border-style: double;
	}
	.fc-row {
		border-style: solid;
		border-width: 0;
		.fc-content-skeleton {
			table {
				background: none;
				border-color: $border-color_1;
			}
			td {
				background: none;
				border-color: $border-color_1;
			}
		}
		.fc-mirror-skeleton {
			td {
				background: none;
				border-color: $border-color_1;
			}
		}
	}
}
.fc-rtl {
	text-align: right;
	.fc-popover {
		.fc-header {
			flex-direction: row-reverse;
		}
	}
	.fc-h-event.fc-not-end {
		margin-left: 0;
		border-left-width: 0;
		padding-left: 1px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	.fc-h-event.fc-not-start {
		margin-right: 0;
		border-right-width: 0;
		padding-right: 1px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	.fc-h-event {
		.fc-end-resizer {
			cursor: w-resize;
			left: -1px;
		}
		.fc-start-resizer {
			cursor: e-resize;
			right: -1px;
		}
	}
	.fc-h-event.fc-selected {
		.fc-end-resizer {
			margin-left: -4px;
		}
		.fc-start-resizer {
			margin-right: -4px;
		}
	}
	.fc-day-grid-event.fc-allow-mouse-resize {
		.fc-end-resizer {
			margin-left: -2px;
		}
		.fc-start-resizer {
			margin-right: -2px;
		}
	}
}

.fc {
	font-size: 1em;
	font-size: 1em;
	width: 100%;
	margin: 0 auto;
}

.fc-highlight {
	background: #bce8f1;
	opacity: 0.3;
}
.fc-bgevent {
	background: #8fdf82;
	opacity: 0.3;
}
.fc-nonbusiness {
	background: #d7d7d7;
}
.fc-popover {
	position: absolute;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
	.fc-header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 2px 4px;
		.fc-title {
			margin: 0 2px;
		}
		.fc-close {
			cursor: pointer;
			opacity: 0.65;
			font-size: 1.1em;
		}
	}
}
.fc-divider {
	border-style: solid;
	border-width: 1px;
}
hr.fc-divider {
	height: 0;
	margin: 0;
	padding: 0 0 2px;
	border-width: 1px 0;
}
.fc-bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	table {
		height: 90%;
	}
}
.fc-bgevent-skeleton {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.fc-highlight-skeleton {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.fc-mirror-skeleton {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	tr {
		&:first-child {
			>td {
				>.fc-day-grid-event {
					margin-top: 0;
				}
			}
		}
	}
}
a[data-goto] {
	cursor: pointer;
	&:hover {
		text-decoration: none;
	}
}
.fc-row {
	table {
		border-left: 0 hidden transparent;
		border-right: 0 hidden transparent;
		border-bottom: 0 hidden transparent;
	}
	&:first-child {
		table {
			border-top: 0 hidden transparent;
		}
	}
	position: relative;
	.fc-bg {
		z-index: 1;
	}
	.fc-bgevent-skeleton {
		bottom: 0;
		z-index: 2;
		table {
			height: 90%;
		}
		td {
			border-color: $border-color_1;
		}
	}
	.fc-highlight-skeleton {
		bottom: 0;
		z-index: 3;
		table {
			height: 90%;
		}
		td {
			border-color: $border-color_1;
		}
	}
	.fc-content-skeleton {
		position: relative;
		z-index: 4;
		padding-bottom: 2px;
		td {
			border-bottom: 0;
		}
		tbody {
			td {
				border-top: 0;
			}
		}
	}
	.fc-mirror-skeleton {
		z-index: 5;
		td {
			border-bottom: 0;
		}
		tbody {
			td {
				border-top: 0;
			}
		}
	}
}
.fc-scroller {
	-webkit-overflow-scrolling: touch;
	>.fc-day-grid {
		position: relative;
		width: 100%;
	}
	>.fc-time-grid {
		position: relative;
		width: 100%;
	}
}
.fc-event {
	position: relative;
  display: flex;
  justify-content: space-between;
	font-size: 0.85em;
	line-height: 1.4;
	border-radius: 3px;
	border: 1px solid #3788d8;
	background-color: $background-color_1;
	color: $color_1;
	text-decoration: none;
	background-color: $background-color_1 !important;
	font-size: 0.65em !important;
	cursor: pointer;
	display: grid;
	grid-template-columns: 1fr 2fr 4fr;
	&:hover {
		color: $color_1;
		text-decoration: none;
		background-color: $background-color_2 !important;
	}
	.fc-content {
		position: relative;
		z-index: 2;
	}
	.fc-resizer {
		position: absolute;
		z-index: 4;
		display: none;
	}
}
.fc-event-dot {
	background-color: $background-color_1;
}
.fc-event[href] {
	cursor: pointer;
}
.fc-event.fc-draggable {
	cursor: pointer;
}
.fc-not-allowed {
	cursor: not-allowed;
	.fc-event {
		cursor: not-allowed;
	}
}
.fc-event.fc-allow-mouse-resize {
	.fc-resizer {
		display: block;
	}
}
.fc-event.fc-selected {
	.fc-resizer {
		display: block;
		&:before {
			content: "";
			position: absolute;
			z-index: 9999;
			top: 50%;
			left: 50%;
			width: 40px;
			height: 40px;
			margin-left: -20px;
			margin-top: -20px;
		}
	}
	z-index: 9999 !important;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	&:after {
		content: "";
		position: absolute;
		z-index: 1;
		top: -1px;
		right: -1px;
		bottom: -1px;
		left: -1px;
		background: #000;
		opacity: 0.25;
	}
}
.fc-event.fc-dragging.fc-selected {
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
}
.fc-event.fc-dragging {
	&:not(.fc-selected) {
		opacity: 0.75;
	}
}
.fc-h-event.fc-selected {
	&:before {
		content: "";
		position: absolute;
		z-index: 3;
		top: -10px;
		bottom: -10px;
		left: 0;
		right: 0;
	}
	.fc-resizer {
		border-radius: 4px;
		border-width: 1px;
		width: 6px;
		height: 6px;
		border-style: solid;
		border-color: $border-color_2;
		background: #fff;
		top: 50%;
		margin-top: -4px;
	}
}
.fc-ltr {
	.fc-h-event.fc-not-start {
		margin-left: 0;
		border-left-width: 0;
		padding-left: 1px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	.fc-h-event.fc-not-end {
		margin-right: 0;
		border-right-width: 0;
		padding-right: 1px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	.fc-h-event {
		.fc-start-resizer {
			cursor: w-resize;
			left: -1px;
		}
		.fc-end-resizer {
			cursor: e-resize;
			right: -1px;
		}
	}
	.fc-h-event.fc-selected {
		.fc-start-resizer {
			margin-left: -4px;
		}
		.fc-end-resizer {
			margin-right: -4px;
		}
	}
	.fc-day-grid-event.fc-allow-mouse-resize {
		.fc-start-resizer {
			margin-left: -2px;
		}
		.fc-end-resizer {
			margin-right: -2px;
		}
	}
}
.fc-h-event.fc-allow-mouse-resize {
	.fc-resizer {
		width: 7px;
		top: -1px;
		bottom: -1px;
	}
}
.fc-day-grid-event {
	margin: 1px 2px 0;
	padding: 0 1px;
	.fc-content {
		white-space: nowrap;
		overflow: hidden;
	}
	.fc-time {
		font-weight: bold;
	}
}
tr {
	&:first-child {
		>td {
			>.fc-day-grid-event {
				margin-top: 2px;
			}
		}
	}
}
a.fc-more {
	margin: 1px 3px;
	font-size: 0.85em;
	cursor: pointer;
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}
.fc-limited {
	display: none;
}
.fc-day-grid {
	.fc-row {
		z-index: 1;
	}
}
.fc-more-popover {
	z-index: 2;
	width: 220px;
	.fc-event-container {
		padding: 10px;
	}
}
.fc-now-indicator {
	position: absolute;
	border: 0 solid red;
}
.fc-unselectable {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.fc-unthemed {
	th {
		border-color: $border-color_3;
	}
	td {
		border-color: $border-color_3;
	}
	thead {
		border-color: $border-color_3;
	}
	tbody {
		border-color: $border-color_3;
	}
	.fc-divider {
		border-color: $border-color_3;
		background: #eee;
	}
	.fc-row {
		border-color: $border-color_3;
	}
	.fc-content {
		border-color: $border-color_3;
	}
	.fc-popover {
		border-color: $border-color_3;
		background-color: $background-color_3;
		border-width: 1px;
		border-style: solid;
		.fc-header {
			background: #eee;
		}
	}
	.fc-list-view {
		border-color: $border-color_3;
	}
	.fc-list-heading {
		td {
			border-color: $border-color_3;
			background: #eee;
		}
	}
	td.fc-today {
		background: #fcf8e3;
	}
	.fc-disabled-day {
		background: #d7d7d7;
		opacity: 0.3;
	}
}
.fc-icon {
	font-family: $font-family_1 !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: inline-block;
	width: 1em;
	height: 1em;
	text-align: center;
}
.fc-icon-chevron-left {
	&:before {
		content: "";
	}
}
.fc-icon-chevron-right {
	&:before {
		content: "";
	}
}
.fc-icon-chevrons-left {
	&:before {
		content: "";
	}
}
.fc-icon-chevrons-right {
	&:before {
		content: "";
	}
}
.fc-icon-minus-square {
	&:before {
		content: "";
	}
}
.fc-icon-plus-square {
	&:before {
		content: "";
	}
}
.fc-icon-x {
	&:before {
		content: "";
	}
}
.fc-button {
	border-radius: 0;
	overflow: visible;
	text-transform: none;
	margin: 0;
	font-family: $font-family_2;
	font-size: inherit;
	line-height: inherit;
	display: inline-block;
	font-weight: 400;
	color: $color_2;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: $background-color_4;
	border: 1px solid transparent;
	padding: 0.2em 0.5em !important;
	font-size: 0.8em !important;
	line-height: 1.5;
	border-radius: 0.25em;
	&:focus {
		outline: 1px dotted;
		outline: 5px auto -webkit-focus-ring-color;
		outline: 0;
		-webkit-box-shadow: 0 0 0 0.2rem rgba(44, 62, 80, 0.25);
		box-shadow: 0 0 0 0.2rem rgba(44, 62, 80, 0.25);
	}
	&:not(:disabled) {
		cursor: pointer;
	}
	&::-moz-focus-inner {
		padding: 0;
		border-style: none;
	}
	&:hover {
		color: $color_2;
		text-decoration: none;
	}
	&:disabled {
		opacity: 0.65;
	}
	.fc-icon {
		vertical-align: middle;
		font-size: 1.25em !important;
	}
}
.fc-button-primary {
	color: $color_1;
	background-color: $background-color_5;
	border-color: $border-color_4;
	&:focus {
		-webkit-box-shadow: 0 0 0 0.2rem rgba(76, 91, 106, 0.5);
		box-shadow: 0 0 0 0.2rem rgba(76, 91, 106, 0.5);
	}
	&:disabled {
		color: $color_1;
		background-color: $background-color_5;
		border-color: $border-color_4;
	}
	&:not(:disabled) {
		&:active {
			color: $color_1;
			background-color: $background-color_6;
			border-color: $border-color_5;
			&:focus {
				-webkit-box-shadow: 0 0 0 0.2rem rgba(76, 91, 106, 0.5);
				box-shadow: 0 0 0 0.2rem rgba(76, 91, 106, 0.5);
			}
		}
	}
	&:not(:disabled).fc-button-active {
		color: $color_1;
		background-color: $background-color_6;
		border-color: $border-color_5;
		&:focus {
			-webkit-box-shadow: 0 0 0 0.2rem rgba(76, 91, 106, 0.5);
			box-shadow: 0 0 0 0.2rem rgba(76, 91, 106, 0.5);
		}
	}
}
.fc-button-group {
	position: relative;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	vertical-align: middle;
	>.fc-button {
		position: relative;
		-webkit-box-flex: 1;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		background-color: $background-color_7;
		border: none;
		&:focus {
			z-index: 1;
		}
		&:active {
			z-index: 1;
		}
		&:not(:first-child) {
			margin-left: -1px;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
		&:not(:last-child) {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
	>.fc-button.fc-button-active {
		z-index: 1;
	}
}
.fc-toolbar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	h2 {
		font-size: 1.25em !important;
		margin: 0;
	}
}
.fc-toolbar.fc-header-toolbar {
	margin-bottom: 0.8em !important;
}
.fc-toolbar.fc-footer-toolbar {
	margin-top: 0.8em !important;
}
.fc-view-container {
	position: relative;
	* {
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
		&:before {
			-webkit-box-sizing: content-box;
			-moz-box-sizing: content-box;
			box-sizing: content-box;
		}
		&:after {
			-webkit-box-sizing: content-box;
			-moz-box-sizing: content-box;
			box-sizing: content-box;
		}
	}
}
.fc-view {
	position: relative;
	z-index: 1;
	>table {
		position: relative;
		z-index: 1;
	}
}
table {
	width: 100%;
	border-collapse: collapse;
}
th {
	padding: 10px;
	text-align: center;
	background-color: $background-color_7;
	color: $color_1;
}
td {
	padding: 10px;
	text-align: center;
	border: 1px solid #ddd;
}

.day {
	font-weight: bold;
	color: $color_4;
}

.today {
	background-color: $background-color_7;
	color: $color_1;
}
.fc-week {
	height: 70px !important;
}
@media print {
	.fc {
		max-width: 100% !important;
		th {
			border-color: $border-color_6 !important;
			background: #fff !important;
		}
		td {
			border-color: $border-color_6 !important;
			background: #fff !important;
		}
		hr {
			border-color: $border-color_6 !important;
			background: #fff !important;
		}
		thead {
			border-color: $border-color_6 !important;
			background: #fff !important;
		}
		tbody {
			border-color: $border-color_6 !important;
			background: #fff !important;
			.fc-row {
				height: auto !important;
				min-height: 0 !important;
				.fc-content-skeleton {
					position: static;
					padding-bottom: 0 !important;
					tbody {
						tr {
							&:last-child {
								td {
									padding-bottom: 1em;
								}
							}
						}
					}
					table {
						height: 1em;
					}
				}
			}
		}
		tr.fc-limited {
			display: table-row !important;
		}
		td.fc-limited {
			display: table-cell !important;
		}
		button {
			display: none;
		}
	}
	.fc-event {
		background: #fff !important;
		color: $color_3 !important;
		page-break-inside: avoid;
		.fc-resizer {
			display: none;
		}
	}
	.fc-row {
		border-color: $border-color_6 !important;
		background: #fff !important;
		border: 0 !important;
		margin: 0 !important;
	}
	.fc-bg {
		display: none;
	}
	.fc-bgevent-skeleton {
		display: none;
	}
	.fc-highlight-skeleton {
		display: none;
	}
	.fc-mirror-skeleton {
		display: none;
	}
	.fc-bgevent-container {
		display: none;
	}
	.fc-business-container {
		display: none;
	}
	.fc-highlight-container {
		display: none;
	}
	.fc-mirror-container {
		display: none;
	}
	.fc-more-cell {
		display: none !important;
	}
	.fc-more {
		display: none !important;
	}
	.fc-popover {
		display: none;
	}
	.fc-time-grid {
		min-height: 0 !important;
		hr {
			display: none !important;
		}
		.fc-content-skeleton {
			position: static;
			table {
				height: 4em;
			}
		}
		.fc-event-container {
			margin: 0 !important;
		}
		.fc-event {
			position: static !important;
			margin: 3px 2px !important;
			.fc-time {
				white-space: normal !important;
				span {
					display: none;
				}
				&:after {
					content: attr(data-full);
				}
			}
		}
		.fc-event.fc-not-end {
			border-bottom-width: 1px !important;
			&:after {
				content: "...";
			}
		}
		.fc-event.fc-not-start {
			border-top-width: 1px !important;
			&:before {
				content: "...";
			}
		}
	}
	.fc-timeGrid-view {
		.fc-axis {
			display: none;
		}
	}
	.fc-slats {
		display: none !important;
	}
	.fc-scroller {
		overflow: visible !important;
		height: auto !important;
	}
	.fc-day-grid-container {
		overflow: visible !important;
		height: auto !important;
	}
	.fc-time-grid-container {
		overflow: visible !important;
		height: auto !important;
	}
	.fc-button-group {
		display: none;
	}
}
